<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf8">
        <title>Alfred Desrochers</title>

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='global.css') }}" />

        <!-- W2UI -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w2ui/w2ui.min.css') }}" />
        <script type="module" src="{{ url_for('static', filename='w2ui/w2ui.es6.min.js') }}"></script>

        <!-- Leaflet -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='leaflet/leaflet.css') }}"/>
        <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
    </head>
    <body>

        <div
          class="app"
        >
          <aside class="app-sidebar">
            <h1 class="app-title">Alfred Desrochers</h1>

            <ul
              class="liste-entrees"
            ></ul>
          </aside>

          <main class="app-main">
            <div id="map"></div>
          </main>
        </div>

        <!-- Carte -->
        <script>
          // global L, Alpine
          // vars
          const API_URL = '/api/donnees';
          let map;
          let marqueurs = [];
          let tagsProblematiques = [];

          // bootstrap
          main();

         ///////////

          /**
           * Fonction asynchrone qui déclenche l’interactivité
           *
           * @returns {Promise<void>}
           */
          async function main() {
            const initialHash = window.location.hash;

            const data = await fetchDonnees();
            // destructurer la réponse
            const {
              coords,
              zoom_start,
              items,
            } = data;

            // créer la carte sur l’élément avec l’id 'map'
            map = L.map('map').setView(coords, zoom_start);

            // ajouter une couche (ici, celle d’OpenStreetMap par défaut)
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 19,
              attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            creerLesMarqueurs(map, items);

            creerLaSidebar(items);

            // restore hash after building sidebar
            if (initialHash) {
              changeHash(initialHash);
            }
          }

          /**
           * Fonction pour fetcher les données de l’API
           *
           * @returns {Promise<any>}
           */
          async function fetchDonnees() {
            const res = await fetch(API_URL);
            return await res.json();
          }

          /**
           * Fonction qui parse les `items` JSON qu’on lui donne et les ajoute à la `map` Leaflet.
           *
           * @param {object<LeafletMap>} map Leaflet map instance
           * @param {array} items Zotero data
           */
          function creerLesMarqueurs(map, items) {
            items.forEach(item => {
              const tags = item['data']['tags'];

              tags.forEach(t => {
                const { tag } = t;

                // dans cette regex, on capture ce qui se trouve entre parenthèses à la *fin* du contenu
                const coordRegex = /\((.+)\)$/;
                // une coordonnée valide:
                // 1. commence optionnellement par un trait (négatif)
                // 2. commence par un numéro
                // 3. contient optionnellement un point ET une série de numéros de précision (entre 1 et 99)
                // 4. ne contient rien d’autre
                const validCoord = /^\-?\d{1,3}(\.\d{1,20})?$/;

                // Extraire les données géographiques du tag
                // matches sera {null} si la regex n’est pas matchée
                const matches = tag.trim().match(coordRegex);

                if (matches) {
                  // s’il y a match, l’intérieur des parenthèses sera le 2e élément
                  // (avec index de 1)
                  const rawCoords = matches[1].split(',');
                  // un peu de ménage
                  const coords = rawCoords.map(elem => elem.trim());

                  // extraire longitude et latitude
                  const lat = coords[0];
                  const long = coords[1];


                  // tester si les deux coordonnées sont valides pour en faire un marqueur
                  if (validCoord.test(lat) && validCoord.test(long)) {
                    // ajouter le marqueur leaflet!
                    const marker = L.marker([lat, long]).addTo(map)
                    .bindPopup(`
                      <h2>${item['data']['title'] || '(sans titre)'}</h2>
                    `)
                    .on('click', ev => {
                      changeHash(`entree-${item.key}`)
                    })
                    //<b>Légende:</b>${item['data']['abstractNote']}
                    //<br/>
                    //<b>Date:</b> ${item['data']['date']}<br/> <b>Lieu:</b> ${item['data']['place']}

                    window.addEventListener('hashchange', () => {
                      const idHash = window.location.hash.replace('#entree-', '');
                      if (idHash === item.key) {
                        marker.openPopup();
                      }
                    })

                  } else {
                    console.warn(`Ce tag n’a pas été ajouté, car il comporte des données invalides: "${tag}"`);

                    tagsProblematiques.push(item.key);
                  }
                } else {
                  console.warn(`Le tag "${tag}" n’a pas été ajouté, car n’a pu être parsé.`);
                  tagsProblematiques.push(item.key);
                }
              });
            });
          }

          /**
           * Fonction qui sert à populer les éléments de la sidebar
           *
           * @param items
           */
          function creerLaSidebar(items) {
            const list = document.querySelector('.liste-entrees');
            items.forEach(item => {
              list.innerHTML += sidebarElemTemplate(item)
            });
          }

          function sidebarElemTemplate(item) {
              // const tag = item['data']['tags'][0];
              // const placeRegex = /:(.+)\($/;
              // const matches = tag.match(placeRegex);
              // // tags.forEach(t => {
              // //   const { tag } = t;
              // //const place = placeRegex;
              // console.log(matches);
            return `
              <li
                class="entree"
                id="entree-${item.key}"
                onclick="changeHash('entree-${item.key}')"
              >
                <h2 class="entree-titre">${item['data']['title'] || '(sans titre)'}</h2>
                <div class="entree-contenu">
                  <b class="entree-key">Date:</b> ${item['data']['date']}
                  <br/>
                  <b class="entree-key">Lieu:</b> ${item['data']['tags'][0]['tag']}
                  <br/>
                  <b class="entree-key">Média associé:</b> <a href="${item['data']['url']}" target="_blank">Lien</a>
                  <br/>
                  <b class="entree-key">Note :</b> ${item['note']}

                  ${tagsProblematiques.indexOf(item.key) !== -1 ? '<div class="entree-warning"><strong>Note: il y a eu un problème en analysant ce tag.</strong></div>' : ''}
                </div>
              </li>
            `;
          }

          function changeHash(newHash) {
            const currentUrl = window.location.href;
            const newUrl = new URL(currentUrl);
            newUrl.hash = newHash;
            window.location = newUrl.href;
          }

        </script>

    </body>
</html>
